In [1]:
import pandas as pd

In [102]:
#read the data
df = pd.read_csv('birdstrikes.csv')
df["Airport Name"].unique()
df

,Airport Name,Aircraft Make Model,Effect Amount of damage,Flight Date,Aircraft Airline Operator,Origin State,Phase of flight,Wildlife Size,Wildlife Species,Time of day,Cost Other,Cost Repair,Cost Total $,Speed IAS in knots
0,BARKSDALE AIR FORCE BASE ARPT,T-38A,None,1/8/1990,MILITARY,Louisiana,Climb,Large,Turkey vulture,Day,0,0,0,300.0
1,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/9/1990,MILITARY,Louisiana,Approach,Medium,Unknown bird or bat,Night,0,0,0,200.0
2,BARKSDALE AIR FORCE BASE ARPT,B-52,None,1/11/1990,MILITARY,Louisiana,Take-off run,Medium,Unknown bird or bat,Day,0,0,0,130.0
3,NEW ORLEANS INTL,B-737-300,Substantial,1/11/1990,SOUTHWEST AIRLINES,Louisiana,Take-off run,Small,Rock pigeon,Day,0,0,0,140.0
4,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/12/1990,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,LAGUARDIA NY,A-319,None,7/24/2002,US AIRWAYS*,New York,Climb,Small,European starling,Day,0,0,0,NaN
9996,DALLAS/FORT WORTH INTL ARPT,MD-83,None,7/24/2002,AMERICAN AIRLINES,Texas,Descent,Small,Unknown bird - small,Day,0,0,0,250.0
9997,DENVER INTL AIRPORT,MD-82,None,7/24/2002,AMERICAN AIRLINES,Colorado,Take-off run,Small,Horned lark,Day,0,0,0,120.0
9998,BARKSDALE AIR FORCE BASE ARPT,B-52H,None,7/25/2002,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,110.0
9999,GREATER PITTSBURGH,EMB-145,None,7/25/2002,TRANS STATES AIRLINES,Pennsylvania,Climb,Medium,Red-tailed hawk,Day,0,0,0,140.0

In [103]:
#read the data
df1 = pd.read_csv('airport.csv')

#negate logitude values to make them negative
#already negative values should not be changed
df1['longitude'] = df1['longitude'].apply(lambda x: -x if x > 0 else x)
df1

    Unnamed: 0                                 airport   latitude   longitude
0            0           BARKSDALE AIR FORCE BASE ARPT  32.501900  -93.657100
1            1                        NEW ORLEANS INTL  29.991100  -90.259200
2            2             WASHINGTON DULLES INTL ARPT  38.953100  -77.456500
3            3           RONALD REAGAN WASHINGTON NATL  38.851200  -77.040200
4            4                CHARLESTON AFB/INTL ARPT  32.894268  -80.038159
5            5                   LAMBERT-ST LOUIS INTL  38.749900  -90.374800
6            6                            LAGUARDIA NY  40.776900  -73.874000
7            7             CHARLOTTE/DOUGLAS INTL ARPT  35.214400  -80.947300
8            8                        LOS ANGELES INTL  33.941600 -118.408500
9            9                CHICAGO O'HARE INTL ARPT  41.980300  -87.909000
10          10                      PORTLAND INTL (OR)  45.589800 -122.595100
11          11          FORT LAUDERDALE/HOLLYWOOD INTL  26.074200  -80.150600
12          12                           HOUSTON-HOBBY  29.645900  -95.276900
13          13                        SAN ANTONIO INTL  29.531200  -98.468300
14          14                         SACRAMENTO INTL  38.575764 -121.478851
15          15                  WILL ROGERS WORLD ARPT  35.393100  -97.600600
16          16                            ATLANTA INTL  33.640700  -84.427700
17          17                       INDIANAPOLIS INTL  39.716900  -86.295600
18          18             DALLAS/FORT WORTH INTL ARPT  32.899800  -97.040300
19          19                        KANSAS CITY INTL  39.303600  -94.709300
20          20                    MINETA SAN JOSE INTL  37.363900 -121.928900
21          21                      METRO OAKLAND INTL  37.712600 -122.219700
22          22                          NASHVILLE INTL  36.126300  -86.677400
23          23                MINNEAPOLIS-ST PAUL INTL  44.884800  -93.222300
24          24                     SALT LAKE CITY INTL  40.789900 -111.979100
25          25                      HONOLULU INTL ARPT  21.318600 -157.925300
26          26                   AUSTIN-BERGSTROM INTL  30.197500  -97.666400
27          27                 SAN FRANCISCO INTL ARPT  37.621300 -122.379000
28          28             CLEVELAND-HOPKINS INTL ARPT  41.405800  -81.853900
29          29  CINCINNATI/NORTHERN KENTUCKY INTL ARPT  39.050800  -84.667300
30          30                    LOUISVILLE INTL ARPT  38.186000  -85.741200
31          31                      GREATER PITTSBURGH  40.356500  -79.919300
32          32                     BALTIMORE WASH INTL  39.173290  -76.684080
33          33                              LOGAN INTL  42.365600  -71.009600
34          34                            ORLANDO INTL  28.417900  -81.304100
35          35                      PORT COLUMBUS INTL  39.999900  -82.887200
36          36                         EPPLEY AIRFIELD  41.301500  -95.894500
37          37                      ATLANTIC CITY INTL  39.452800  -74.571400
38          38            GEORGE BUSH INTERCONTINENTAL  29.990200  -95.336800
39          39                     SEATTLE-TACOMA INTL  47.448000 -122.308800
40          40                            MEMPHIS INTL  35.149500  -90.049000
41          41                              LIHUE ARPT  21.978800 -159.343800
42          42                NEWARK LIBERTY INTL ARPT  40.689500  -74.174500
43          43                       PHILADELPHIA INTL  39.872900  -75.243700
44          44                     JOHN F KENNEDY INTL  40.641300  -73.778100
45          45                      PHOENIX SKY HARBOR  33.435200 -112.010100
46          46                       TETERBORO AIRPORT  40.858300  -74.061500
47          47         DETROIT METRO WAYNE COUNTY ARPT  42.216200  -83.355400
48          48                CHICAGO MIDWAY INTL ARPT  41.786800  -87.752200
49          49                     DENVER INTL AIRPORT  39.849300 -104.673800

In [104]:
lats = []
longs = []
for i in df["Airport Name"]:
    for j in df1["airport"]:
        if i == j:
            lats.append(df1[df1["airport"] == i]["latitude"].values[0])
            longs.append(df1[df1["airport"] == i]["longitude"].values[0])
#add the new columns to the dataframe
df["latitude"] = lats
df["longitude"] = longs
df

,Airport Name,Aircraft Make Model,Effect Amount of damage,Flight Date,Aircraft Airline Operator,Origin State,Phase of flight,Wildlife Size,Wildlife Species,Time of day,Cost Other,Cost Repair,Cost Total $,Speed IAS in knots,latitude,longitude
0,BARKSDALE AIR FORCE BASE ARPT,T-38A,None,1/8/1990,MILITARY,Louisiana,Climb,Large,Turkey vulture,Day,0,0,0,300.0,32.5019,-93.6571
1,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/9/1990,MILITARY,Louisiana,Approach,Medium,Unknown bird or bat,Night,0,0,0,200.0,32.5019,-93.6571
2,BARKSDALE AIR FORCE BASE ARPT,B-52,None,1/11/1990,MILITARY,Louisiana,Take-off run,Medium,Unknown bird or bat,Day,0,0,0,130.0,32.5019,-93.6571
3,NEW ORLEANS INTL,B-737-300,Substantial,1/11/1990,SOUTHWEST AIRLINES,Louisiana,Take-off run,Small,Rock pigeon,Day,0,0,0,140.0,29.9911,-90.2592
4,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/12/1990,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,160.0,32.5019,-93.6571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,LAGUARDIA NY,A-319,None,7/24/2002,US AIRWAYS*,New York,Climb,Small,European starling,Day,0,0,0,NaN,40.7769,-73.8740
9996,DALLAS/FORT WORTH INTL ARPT,MD-83,None,7/24/2002,AMERICAN AIRLINES,Texas,Descent,Small,Unknown bird - small,Day,0,0,0,250.0,32.8998,-97.0403
9997,DENVER INTL AIRPORT,MD-82,None,7/24/2002,AMERICAN AIRLINES,Colorado,Take-off run,Small,Horned lark,Day,0,0,0,120.0,39.8493,-104.6738
9998,BARKSDALE AIR FORCE BASE ARPT,B-52H,None,7/25/2002,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,110.0,32.5019,-93.6571
9999,GREATER PITTSBURGH,EMB-145,None,7/25/2002,TRANS STATES AIRLINES,Pennsylvania,Climb,Medium,Red-tailed hawk,Day,0,0,0,140.0,40.3565,-79.9193

In [107]:
#take columns that are needed (AIRPORT NAME, STATE, LATITUDE, LONGITUDE)
df = df[["Airport Name", "Origin State", "latitude", "longitude"]]
#add a frequency column
df["frequency"] = 1
#count friquency of each airport
df = df.groupby(["Airport Name", "Origin State", "latitude", "longitude"]).count().reset_index()
df

C:\Users\Latitude\AppData\Local\Temp\ipykernel_12188\2610811590.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["frequency"] = 1

,Airport Name,Origin State,latitude,longitude,frequency
0,ATLANTA INTL,Georgia,33.640700,-84.427700,211
1,ATLANTIC CITY INTL,New Jersey,39.452800,-74.571400,86
2,AUSTIN-BERGSTROM INTL,Texas,30.197500,-97.666400,144
3,BALTIMORE WASH INTL,Maryland,39.173290,-76.684080,201
4,BARKSDALE AIR FORCE BASE ARPT,Louisiana,32.501900,-93.657100,435
5,CHARLESTON AFB/INTL ARPT,South Carolina,32.894268,-80.038159,242
6,CHARLOTTE/DOUGLAS INTL ARPT,North Carolina,35.214400,-80.947300,269
7,CHICAGO MIDWAY INTL ARPT,Illinois,41.786800,-87.752200,75
8,CHICAGO O'HARE INTL ARPT,Illinois,41.980300,-87.909000,430
9,CINCINNATI/NORTHERN KENTUCKY INTL ARPT,Kentucky,39.050800,-84.667300,263
10,CLEVELAND-HOPKINS INTL ARPT,Ohio,41.405800,-81.853900,98
11,DALLAS/FORT WORTH INTL ARPT,Texas,32.899800,-97.040300,908
12,DENVER INTL AIRPORT,Colorado,39.849300,-104.673800,187
13,DETROIT METRO WAYNE COUNTY ARPT,Michigan,42.216200,-83.355400,74
14,EPPLEY AIRFIELD,Nebraska,41.301500,-95.894500,118
15,FORT LAUDERDALE/HOLLYWOOD INTL,Florida,26.074200,-80.150600,93
16,GEORGE BUSH INTERCONTINENTAL,Texas,29.990200,-95.336800,134
17,GREATER PITTSBURGH,Pennsylvania,40.356500,-79.919300,289
18,HONOLULU INTL ARPT,Hawaii,21.318600,-157.925300,135
19,HOUSTON-HOBBY,Texas,29.645900,-95.276900,151
20,INDIANAPOLIS INTL,Indiana,39.716900,-86.295600,144
21,JOHN F KENNEDY INTL,New York,40.641300,-73.778100,216
22,KANSAS CITY INTL,Missouri,39.303600,-94.709300,187
23,LAGUARDIA NY,New York,40.776900,-73.874000,175
24,LAMBERT-ST LOUIS INTL,Missouri,38.749900,-90.374800,189
25,LIHUE ARPT,Hawaii,21.978800,-159.343800,217
26,LOGAN INTL,Massachusetts,42.365600,-71.009600,146
27,LOS ANGELES INTL,California,33.941600,-118.408500,166
28,LOUISVILLE INTL ARPT,Kentucky,38.186000,-85.741200,272
29,MEMPHIS INTL,Tennessee,35.149500,-90.049000,272
30,METRO OAKLAND INTL,California,37.712600,-122.219700,106
31,MINETA SAN JOSE INTL,California,37.363900,-121.928900,120
32,MINNEAPOLIS-ST PAUL INTL,Minnesota,44.884800,-93.222300,103
33,NASHVILLE INTL,Tennessee,36.126300,-86.677400,297
34,NEW ORLEANS INTL,Louisiana,29.991100,-90.259200,183
35,NEWARK LIBERTY INTL ARPT,New Jersey,40.689500,-74.174500,206
36,ORLANDO INTL,Florida,28.417900,-81.304100,153
37,PHILADELPHIA INTL,Pennsylvania,39.872900,-75.243700,225
38,PHOENIX SKY HARBOR,Arizona,33.435200,-112.010100,111
39,PORT COLUMBUS INTL,Ohio,39.999900,-82.887200,112
40,PORTLAND INTL (OR),Oregon,45.589800,-122.595100,245
41,RONALD REAGAN WASHINGTON NATL,DC,38.851200,-77.040200,219
42,SACRAMENTO INTL,California,38.575764,-121.478851,352
43,SALT LAKE CITY INTL,Utah,40.789900,-111.979100,236
44,SAN ANTONIO INTL,Texas,29.531200,-98.468300,158
45,SAN FRANCISCO INTL ARPT,California,37.621300,-122.379000,146
46,SEATTLE-TACOMA INTL,Washington,47.448000,-122.308800,103
47,TETERBORO AIRPORT,New Jersey,40.858300,-74.061500,59
48,WASHINGTON DULLES INTL ARPT,DC,38.953100,-77.456500,256
49,WILL ROGERS WORLD ARPT,Oklahoma,35.393100,-97.600600,83

In [110]:
df.to_csv("dashboard/data/frequency.csv", index=False)

In [18]:
import pandas as pd
#read birdstrikes data
df = pd.read_csv('data/birdstrikes.csv')
df = df[["Aircraft Airline Operator"]]
# df.drop_duplicates(inplace=True)
# #fix index
# df.reset_index(drop=True, inplace=True)
df.groupby(["Aircraft Airline Operator"]).count().reset_index()
#add a frequency column
df["frequency"] = 1
#count friquency of each aircraft operator
df = df.groupby(["Aircraft Airline Operator"]).count().reset_index()
df

         Aircraft Airline Operator  frequency
0                          ABX AIR         76
1                       AIR CANADA         69
2           AIR WISCONSIN AIRLINES         17
3                  AIRTRAN AIRWAYS         25
4                  ALASKA AIRLINES        102
5                ALLEGHENYAIRLINES         22
6                   ALOHA AIRLINES        184
7            AMERICA WEST AIRLINES        275
8                AMERICAN AIRLINES       2171
9          AMERICAN EAGLE AIRLINES        223
10                 ASTAR AIR CARGO         29
11         ATLANTIC COAST AIRLINES        138
12              ATLANTIC SOUTHEAST         37
13                        BUSINESS        371
14             CHAUTAUQUA AIRLINES         18
15                 COMAIR AIRLINES        113
16                       COMMUTAIR          3
17            CONTINENTAL AIRLINES        187
18                 DELTA AIR LINES        865
19          EXECUTIVE JET AVIATION         36
20  EXPRESSJET (CONTINENTAL EXPRS)        106
21                   FEDEX EXPRESS        365
22               FRONTIER AIRLINES         23
23                      GOVERNMENT         15
24            GREAT LAKES AIRLINES         30
25                    HAWAIIAN AIR         97
26                     HORIZON AIR        102
27                  JAPAN AIRLINES         13
28                 JETBLUE AIRWAYS          4
29                   MESA AIRLINES         23
30                 MESABA AIRLINES         41
31                        MILITARY        829
32              NORTHWEST AIRLINES        256
33               PIEDMONT AIRLINES         32
34                        PINNACLE         17
35                 PRIVATELY OWNED         36
36                    PSA AIRLINES         27
37                SKYWEST AIRLINES         68
38              SOUTHWEST AIRLINES        844
39                 SPIRIT AIRLINES          7
40           TRANS STATES AIRLINES         28
41            TRANS WORLD AIRLINES        163
42                 UNITED AIRLINES        534
43                         UNKNOWN         72
44                    UPS AIRLINES        223
45                     US AIRWAYS*       1084

In [ ]:
df.to_csv("data/airline.csv", index=False)